# SPDX-License-Identifier: MIT OR CC0-1.0
# Bryn (Safire Project)

__tests__
.github
.gitlab
.husky
.vscode
dist
docs
.editorconfig
.env.example
.eslintrc.yml
.gitattributes
.gitignore
.gitlab-ci.yml.prettierrc.yml
changelog.md
contributing.md
docker-compose.yml
Dockerfile
ecosystem.config.yml
jest.config.jest
license.md
ReadMe.md
safire.code-workspace
